VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
TEST_EMAIL=
TEST_PASSWORD=
E2E_SUPABASE_SERVICE_ROLE_KEY=

# Supabase Edge Function CORS (comma-separated)
ALLOWED_URLS=http://localhost:5173
SENDER_NAME=
SENDER_EMAIL=
